@charset "UTF-8";
/*************
*** COMMON ***
*************/
body {
  font: 14px / 24px "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", Helvetica, Arial, Sans-Serif;
  background: #FFF;
  color: #666;
  word-break: break-all;
  -webkit-text-size-adjust: 100%;
}
a {
  text-decoration: none;
}
a:hover, a:link, a:visited {
  color: #666;
}
hr {
  margin: 15px 15px 20px;
  color: #CCC;
}
strong, b {
  font-weight: bold !important;
}
textarea {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
.f_right {
  float: right;
}
.f_left {
  float: left;
}
.t_right {
  text-align: right;
}
.t_center {
  text-align: center;
}
.t_left {
  text-align: left;
}
.reset {
  clear: both;
}
#wrapper {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding: 0 5px;
}

/*************
*** HEADER ***
*************/
#header {
  width: 100%;
  overflow: hidden;
  margin-bottom: 15px;
  padding-top: 15px;
}
#header h1 {
  float: left;
  margin-left: 20px;
  font-size: 200%;
  letter-spacing: .3em;
}
#header nav {
  float: right;
  margin-right: 50px;
  letter-spacing: .2em;
}
#header nav li {
  float: left;
  margin: 0 7px;
  font-family: 'Droid Sans Mono', sans-serif;
  font-size: 120%;
}
#header nav li a:hover {
  border-bottom: 2px #666 solid;
}

/***********
*** MAIN ***
************/
#main {
  width: 100%;
}

/**************
*** CONTENT ***
***************/
#content {
  float: left;
  width: 68%;
  /*max-width: 680px;*/
}
#content .top_img {
  display: block;
  margin: 3px auto !important;
}
#content article .entry_meta {
  overflow: hidden;
  font-family: 'Droid Sans Mono', sans-serif;
  margin-left: 15px;
}
#content article .entry_info {
  margin: 5px 15px 0;
}
#content article .entry_meta li {
  float: left;
  padding-right: 5px;
}
#content article .thumbnail_A {
  display: block;
  width: 90%;
  margin: 3px auto 10px;
  padding: 5px;
  border: 1px solid #CCC;
}
#content article .thumbnail_B {
  width: 212px;
  padding: 5px;
  border: 1px solid #CCC;
  margin: 5px 10px;
}
#content article .thumbnail_D {
  width: 85%;
  padding: 5px;
  border: 1px solid #CCC;
  margin: 5px 10px;
}
#content article .description_A {
  font-size: 110%;
  line-height: 1.8;
  margin: 0px 10px 15px;
}
#content article .description_B {
  padding: 10px 5px 10px 0;
  margin-left: 212px;
}
#content article .entry_more {
  text-align: right;
  margin-right: 30px;
}
#content .read_past_entries {
  margin: 10px 0;
}
#content article .entry_more a, #content .read_past_entries a {
  padding: 7px 10px;
  background: #808080;
  color: #FFF;
}
#content article .entry_more a:hover, #content .read_past_entries a:hover {
  padding: 7px 10px;
  background: #000;
  color: #FFF;
}
#content .past_entries {
  width: 33%;
}
#content .past_entries time {
  font-family: 'Droid Sans Mono', sans-serif;
  font-size: 85%;
  display: block;
}
#content .past_entries p {
  font-size: 90%;
  font-weight: bold;
  padding: 0 5px;
}
#content .box_entry_pc {
  display: block;
}
#content .box_entry_sp {
  display: none;
}

/**************
***   TAB   ***
**************/
#tabs .panels {
  margin-bottom: 10px;
  list-style: none;
}
#tabs .panel_title {
  display: inline;
  padding: 10px 30px;
  border: 1px solid #CCC;
}
#tabs li.active {
  color: #FFF;
  background-color: #000;
}
#tabs li.active a {
  color: #FFF;
  background-color: #000;
}
#tabs li.active a:hover {
  color: #FFF;
}
#tabs li a:hover {
  color: #666;
  text-decoration: underline;
}

/**********************
*** CONTENT INDEX ***
**********************/
#content article.index {
  margin-bottom: 50px;
}
/**********************
*** CONTENT SECTION ***
**********************/
#content section .panels {
  overflow: hidden;
  margin-left: 10px;
  margin-bottom: 5px;
}
#content section .panel_title {
  float: left;
  padding: 8px 12px;
  background-color: #000;
  border: 1px solid #CCC;
}
#content section .panel_title a {
  color: #FFF;
  background-color: #000;
}
#content section .l_frame {
  margin: 7px;
  padding: 10px;
  border: 1px solid #CCC;
}

/***********
*** SIDE ***
************/
#side {
  float: right;
  width: 31%;
  max-width: 310px;
}
#sidefixed {
  max-width: 310px;
}
#side .r_frame {
  padding: 7px 10px 7px 7px;
  margin: 5px 0px 7px 0px;
  border: 1px solid #c0c0c0;
}
#side .r_frame p.title {
  font-family: 'Droid Sans Mono', sans-serif;
  line-height: 1;
  padding: 5px 5px 5px 10px;
  border-left: 5px #666 solid;
}
#side ul {
  margin: 15px 0;
}
#side li {
  margin: 5px 0 10px;
  padding: 0 5px 5px 10px;
  font-size: 85%;
}
#side li:after {
  content: "";
  clear: both;
  display: block;
}
#side li time {
  font-family: 'Droid Sans Mono', sans-serif;
  display: block;
  line-height: 1;
  padding: 2px 0 5px;
}
#side li .thumbnail_C {
  width: 90px;
  padding: 2px;
  border: 1px solid #CCC;
  margin: 0 5px 0 0;
}
#side li .title {
  margin-left: 101px;
  line-height: 140%;
}

/*************
*** FOOTER ***
*************/
footer {
  width: 100%;
  background: #444;
  color: #CCC;
  margin-top: 20px;
}
#footer {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
#footer p.title {
  font-family: 'Droid Sans Mono', sans-serif;
  margin-bottom: 3px;
  padding: 5px 5px 5px 10px;
  border-left: 3px #FFF solid;
}
#footer ul {
  margin-left: 15px;
  padding: 3px 0;
}
#footer li a {
  font-size: 90%;
  padding: 3px 0px 3px 5px;
  color: #999;
}
#footer .f_frame {
  float: left;
  padding: 7px 7px 7px 10px;
  margin: 5px 0px 0px;
}
#footer .archive_list {
  width: 400px;
  margin-left: 20px;
}
#footer .archive_list li {
  display: inline;
}
#footer .category_list {
  width: 25%;
}
#footer .author_info li {
  color: #999;
}
#footer .thumbnail_D {
  width: 150px;
  padding: 2px;
  border: 1px solid #CCC;
  margin: 5px;
}
#footer .display_pc {
  display: block;
}
#footer .display_sp {
  display: none;
}
#footer .copyright {
  font-family: 'Droid Sans Mono', sans-serif;
  font-size: 75%;
  text-align: center;
  padding: 3px 10px;
}

/********************
*** Single Entry ***
********************/
#content article.single {
  margin: 10px 0 25px;
}
#content article.single .entry_meta li {
  float: left;
  padding-right: 5px;
}
#content article.single .entry {
  margin: 5px 15px 0;
}
#content article.single .entry p {
  font-size: 110%;
  /*margin-bottom: 22px;*/
  margin-bottom: 20px;
  line-height: 1.8;
}
#content article.single .entry p:first-child {
  margin-top: 10px;
}
#content article.single .entry p:last-child {
  margin-bottom: 10px;
}
#content article.single .entry .bq {
  border-left: 5px solid #c0c0c0;
  background: #eee;
  margin: 15px 0 15px 10px;
  padding: 10px;
}
#content article.single .entry .bq p {
  margin: 0;
}
#content article.single .entry table {
  margin-left: 5px;
  margin-bottom: 22px;
}
#content article.single .entry ul {
  /*margin: 22px 0 22px 25px;*/
  margin: 0 0 20px 25px;
}
.entry ol, .entry dl {
  margin: 22px 0 22px 25px;
}
#content article.single .entry ul li {
  list-style-type: square;
}
#content article.single .entry ol li {
  list-style-type: decimal;
}
#content article.single .entry img {
  display: block;
  width: 90%;
  margin: 3px auto !important;
  padding: 5px !important;
  border: 1px solid #CCC;
}
#content article.single .entry img.sp {
  width: 40%;
  margin: 3px 0 0 20px !important;
}
#content article.single table.book {
  width: 250px;
  margin: 0 auto 22px !important;
}
#content article.single table div {
  border: none !important;
  margin: 0 !important;
  /*padding: 0 !important;*/
  /*width: 100% !important;*/
}
#content article.single table div img {
  float: left;
}
#content article.single table div p {
  font-size: 85% !important;
  line-height: 1.2 !important;
  padding: 0 10px !important;
}
#content article.single table div p a, #content article.single table div p span {
  display: block !important;
  padding: 3px 0 !important;
}
#content article.single .crayon-syntax {
  margin-bottom: 22px !important;
}
#content article.single .crayon-table {
  margin-bottom: 0 !important;
}

/* For Social Buttons */
.social {
  margin: 5px 0 15px 15px;
  line-height: 2em;
}
.social iframe, .social div {
  display: inline !important;
  margin-right: 3px;
  vertical-align: bottom !important;
  line-height: 1;
}
.twitter-share-button {
  width: 90px !important;
}

/**************
*** h1 - h4 ***
**************/
article h1 {
  /*font-size: 180%;*/
  font-size: 185%;
  line-height: 150%;
  font-weight: bold;
  /*padding: 3px 0 0 5px;*/
  padding: 3px 0 3px 5px;
}
article.archive h1 {
  font-size: 145%;
}
article h2 {
  position: relative;
  font-size: 165%;
  font-weight: bold;
  margin: 35px 0 20px;
  padding: 10px 0 10px 30px;
  width: 95%;
  border-bottom: 2px solid #B92A2C;
}
h2:before{
    content: "□";
    font-size: 95%;
    position: absolute;
    color: #ff6b6e;
    top: -0.5em;
    left: 0.3em;
    height: 12px;
    width: 12px;
}
h2:after{
    content: "□";
    font-size: 80%;
    position: absolute;
    color: #999;
    top: -0.1em;
    left: 0;
    height: 12px;
    width: 12px;
}
article h3 {
  font-size: 135%;
  font-weight: bold;
  /*margin: 22px 0px 15px;*/
  margin: 30px 0px 10px;
}
#content article.archive {
  margin: 7px;
  padding: 10px;
}
#content article.archive time {
  font-family: 'Droid Sans Mono', sans-serif;
  display: block;
}
#content article.archive .description {
  padding: 5px 5px 10px 0;
}

/****************
*** Page Navi ***
****************/
.page-navi {
  margin: 1em auto;
  text-align: center;
}
.page-navi .current {
  color: #FFF;
  background: #808080;
  font-weight: bold;
}
.page-navi .next, .page-navi .prev {
  border: 0 none;
  background: transparent;
  text-decoration: underline;
  font-size: 85%;
  font-weight: bold;
}
a.page-numbers, .page-navi .current {
  padding: 5px .6em;
  border: solid 1px #CCC;
  font-size: 85%;
  line-height: 2.7em;
}
a.page-numbers:hover {
  color: #FFF;
  background: #808080;
}

/**************
*** Comment ***
**************/
.comment, #respond {
  font-family: 'Droid Sans Mono', sans-serif;
  margin: 5px 15px 10px 15px;
  list-style-type: none;
}
.comment p {
  margin: 5px 15px;
}

/*********************
*** Gallery style ***
*********************/
#content .instagram {
  width: 33%;
}
#content .instagram time {
  font-family: 'Droid Sans Mono', sans-serif;
  display: block;
}
#content .instagram .thumbnail_E {
  width: 95%;
}
/* ページ最下部の余白対応 */
img[width="0"] {
  position: absolute;
  top: 0px;
}
/* margin-xxxxx: xxpx; */
.mb20 {
  margin-bottom: 20px;
}
.ml215 {
  margin-left: 215px;
}

/* max-869px for footer 2 column */
@media screen and (max-width: 869px) {
  #footer {
    width: 665px;
    max-width: 869px;
    margin: 0 auto;
  }
  #footer .archive_list {
    margin-left: 0;
  }
}
/* max-768px for nothing sidebar */
@media screen and (max-width: 768px) {
  #side {
    display: none;
  }
  #content {
    width: 100%;
    margin-right: 0;
  }
  #header nav {
    margin-right: 0;
  }
}
/* max-665px for footer 1 column */
@media screen and (max-width: 665px) {
  #footer {
    width: 417px;
  }
  #footer .category_list {
    width: 45%;
  }
}
/* max-420px for SP */
@media screen and (max-width: 420px) {
  #content article .description_A {
    margin: 0px 3px 3px;
  }
  #content article .description_B {
    font-size: 110%;
    margin-left: 0;
    clear: both;
  }
  #content article .thumbnail_B {
    width: 90%;
  }
  #content article .title {
    padding-top: 0;
  }
  #content article .description {
    margin-left: 0;
    padding: 0 0 5px 0;
  }
  #content article .entry_more {
    margin-left: 0;
    margin-right: 5px;
    float: right;
  }
  #content .past_entries {
    width: 50%;
  }
  #content .past_entries .entry_more {
    float: none;
  }
  #footer {
    width: 80%;
    margin: 0 auto;
  }
  #footer .f_frame {
    width: 95%;
  }
  #footer .display_pc {
    display: none;
  }
  #content .box_entry_pc, .count10 {
    display: none;
  }
  #footer .display_sp {
    display: block;
  }
  #content .box_entry_sp {
    display: block;
  }
  #content .instagram {
    width: 50%;
  }
}
@media screen and (max-width: 375px) {
  #tabs .panel_title {
    padding: 10px 20px;
  }
}
@media screen and (max-width: 330px) {
  #footer {
    width: 95%;
  }
  #tabs .panel_title {
    padding: 10px 15px;
  }
}
/* How to use FontAwesome */
/*#side ul li:before {
  content: "\f046";
  font-family: FontAwesome;
  display: inline-block;
}*/
