@charset "UTF-8";

body {
  font: 14px/24px "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","MS PGothic",Helvetica,Arial,Sans-Serif;
  background: #FFF;
  color: #666;
}
a { text-decoration: none; }
a:hover, a:link, a:visited { color:#666; }
hr { margin: 15px 15px 20px; color:#CCC; }
.f_right { float: right; }
.f_left { float: left; }
.t_right { text-align: right; }
.t_center { text-align: center; }
.t_left { text-align: left; }
.reset { clear: both; }

#wrapper {
  width: 1050px;
  height: 100%;
  margin: 0 auto;
  padding: 0 5px;
}

/*************
*** HEADER ***
*************/
#header {
  overflow: hidden;
  margin-bottom: 15px;
  padding-top: 15px;
}
#header h1 {
  float: left;
  margin-left: 20px;
  font-size: 200%;
  letter-spacing: .3em;
}
#header nav {
  float: right;
  margin-right: 50px;
  letter-spacing: .2em;
}
#header nav li {
  float: left;
  margin: 0 7px;
  font-family: 'Droid Sans Mono', sans-serif;
  font-size: 120%;
}
#header nav li a:hover {
  border-bottom: 2px #666 solid;
}

/***********
*** MAIN ***
************/
#main {
  width: 100%;
}
/**************
*** CONTENT ***
***************/
#content {
  width: 730px;
  float: left;
}
#content .top_img {
  padding: 5px;
}
#content article .entry_meta {
  overflow: hidden;
  font-family: 'Droid Sans Mono', sans-serif;
  margin-left: 15px;
}
#content article .title {
  padding-top: 5px;
}
#content article .entry_meta li {
  float: left;
  padding-right: 5px;
  font-size: 85%;
}
#content article .thumbnail_A {
  width: 180px;
  padding: 5px;
  border: 1px solid #CCC;
  margin: 5px 10px;
}
#content article .thumbnail_B {
  width: 180px;
  padding: 5px;
  border: 1px solid #CCC;
}
#content article .description {
  padding: 10px 5px 10px 0;
}
#content .read_past_entries {
  margin: 10px 0;
}
#content article .entry_more a,
#content .read_past_entries a {
  padding: 6px 9px;
  background: #808080;
  color: #FFF;
}
#content article .entry_more a:hover,
#content .read_past_entries a:hover {
  padding: 6px 9px;
  background: #000;
  color: #FFF;
}
#content .past_entries {
  width: 33%;
}
#content .past_entries time {
  font-family: 'Droid Sans Mono', sans-serif;
  font-size: 85%;
}
#content .past_entries p {
  font-size: 90%;
  font-weight: bold;
  padding: 0 5px;
}

/**************
***   TAB   ***
**************/
#tabs .panels {
  overflow: hidden;
  list-style: none;
  margin-left: 10px;
}
#tabs .panel_title {
  float: left;
  display: inline;
  padding: 8px 12px;
  border: 1px solid #CCC;
}
#tabs li.active, #tabs li.active a {
  color: #FFF;
  background-color: #000;
}
#tabs li.active a:hover {
  color: #FFF;
}
#tabs li a:hover {
  color: #666;
  text-decoration: underline;
}
#tabs .panel {
  display: none;
  margin: 7px;
  padding: 10px;
  border: 1px solid #CCC;
}

/**********************
*** CONTENT SECTION ***
**********************/
#content section .panels {
  overflow: hidden;
  margin-left: 10px;
}
#content section .panel_title {
  float: left;
  padding: 8px 12px;
  background-color: #000;
  border: 1px solid #CCC;
}
#content section .panel_title a {
  color: #FFF;
  background-color: #000;
}
#content section .l_frame {
  margin: 7px;
  padding: 10px;
  border: 1px solid #CCC;
}

/***********
*** SIDE ***
************/
#side {
  float: right;
  width: 310px;
}
#sidefixed {
  width: 310px;
}
#side .r_frame {
  padding:7px 10px 7px 7px;
  margin:5px 0px 7px 0px;
  border:1px solid #c0c0c0;
/*  -webkit-border-radius:7px;
  -moz-border-radius:7px;*/
}
#side .r_frame p.title {
  font-family: 'Droid Sans Mono', sans-serif;
  line-height: 1;
  padding: 5px 5px 5px 10px;
  border-left: 5px #666 solid;
}
#side ul {
  margin: 15px 0;
}
#side li {
  margin: 5px 0 10px;
  padding: 0 5px 5px 10px;
  font-size: 85%;
}
#side li:after {
  content: "";
  clear: both;
  display: block;
}
#side li time {
  font-family: 'Droid Sans Mono', sans-serif;
  display: block;
  line-height: 1;
  padding: 2px 0 5px;
}
#side li .thumbnail_C {
  width: 90px;
  padding: 2px;
  border: 1px solid #CCC;
  margin: 0 5px;
}
#side li .title {
  line-height: 140%;
}

/*************
*** FOOTER ***
*************/
footer {
  background: #444;
  color: #CCC;
  margin-top: 20px;
}
#footer {
  width: 1050px;
  margin: 0 auto;
  padding: 0 5px;
}
#footer p.title {
  font-family: 'Droid Sans Mono', sans-serif;
  margin-bottom: 3px;
  padding: 5px 5px 5px 10px;
  border-left: 3px #FFF solid;
}
#footer ul {
  margin-left: 15px;
  padding: 3px 0;
}
#footer li a {
  font-size: 90%;
  padding: 3px 0px 3px 5px;
  color: #999;
}
#footer .f_frame {
  float: left;
  padding: 7px 7px 7px 10px;
  margin: 5px 0px 0px;
}
#footer .category_list {
  width: 25%;
}
#footer .archive_list {
  width: 40%;
}
#footer .archive_list li {
  display: inline;
}
#footer .author_info {
  width: 30%;
}
#footer .author_info li {
  color: #999;
}
#footer .thumbnail_D {
  width: 150px;
  padding: 2px;
  border: 1px solid #CCC;
  margin: 5px;
}
#footer .copyright {
  font-family: 'Droid Sans Mono', sans-serif;
  font-size: 75%;
  text-align: center;
  padding: 3px 10px;
}

/********************
*** Singlee Entry ***
********************/
#content article.single {
  margin: 10px 0 20px;
}
#content article.single .entry_meta li {
  float: left;
  padding-right: 5px;
  font-size: 95%;
}
#content article.single .entry {
  margin: 5px 15px 0;
}
#content article.single .entry p {
  font-size: 110%;
  margin-bottom: 22px;
}
#content article.single .entry .bq p {
  margin: 0px;
}
#content article.single .entry table {
  margin-bottom: 22px;
}
#content article.single .entry ul, .entry ol, .entry dl {
  margin: 0 0 22px 25px;
}
#content article.single .entry ul li{
  list-style-type: square;
}
#content article.single .entry ol li{
  list-style-type: decimal;
}
#content article.single .entry img {
  padding: 5px;
  margin: 3px 7px;
  border: 1px solid #CCC;
}
.social {
  margin: 0 0 5px 15px;
}
.social iframe, .social div {
  display: inline;
  margin-right: 3px;
  vertical-align: bottom !important;
}
.twitter-share-button {
  width: 90px !important;
}

/**************
*** h1 - h4 ***
**************/
article.index h1 {
  font-size: 130%;
  line-height: 150%;
  font-weight: bold;
  padding: 3px 0 0 5px;
}
article.single h1 {
  font-size: 170%;
  line-height: 150%;
  font-weight: bold;
}
article h2 {
  position: relative;
  font-size: 140%;
  font-weight: bold;
  margin: 25px 0;
  padding: 10px 0 10px 15px;
  border-left: 7px solid #999;
  width: 95%;
}
article h2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  border-bottom: 1px solid #999;
}
article h3 {
  font-size: 130%;
  font-weight: bold;
  margin: 15px 0px 15px;
}
article .bq {
  border-left: 5px solid #c0c0c0;
  background: #eee;
  margin: 0px 0px 22px 10px;
  padding: 10px;
}

/****************
*** Page navi ***
****************/
.page-navi {
  color: #666;
  background: white;
  margin: 1em auto;
  line-height: 2em;
  text-align: center;
}
.page-navi .current {
  color: white;
  background: #808080;
  border-color: #CCC;
  font-weight: bold;
}
.page-navi .next, .page-navi .prev {
  border: 0 none;
  background: transparent;
  text-decoration: underline;
  font-size: smaller;
  font-weight: bold;
}
a.page-numbers, .page-navi .current {
  color: #666;
  padding: 2px .4em;
  border: solid 1px #CCC;
  text-decoration: none;
  font-size: smaller;
}
a.page-numbers:hover {
  color: white;
  background: #808080;
}

/*********************
*** Comment style ***
*********************/
.comment, #respond {
  font-family: 'Droid Sans Mono', sans-serif;
  margin: 5px 15px 10px 15px;
  list-style-type: none;
  }
.comment li { list-style-type: none; }
.comment p {
  margin: 5px;
  padding: 5px 7px;
  background-color: #dcdcdc;
  border: 1px solid #c0c0c0;
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomleft: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-topright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
}

/*
*  Web Font
*  font-family: 'Droid Sans Mono', sans-serif;
*/

/* ページ最下部の余白対応 */
img[width="0"] {
  position: absolute;
  top: 0px;
}

/* margin-xxxxx: xxpx; */
.mb20 {
  margin-bottom: 20px;
}
.ml215 {
  margin-left: 215px;
}