/*************
*** Common ***
*************/
.inner {
    text-align: center;
    width: 80%;
}
/*************
*** Header ***
*************/
#top-head {
    background: #1B7D1B;
    height: 80px;
}
#top-head .logo a {
  color: #fff;
}
#global-nav ul {
    position: static;
    right: none;
    bottom: none;
    margin: 10px 0 0 0;
}
#global-nav ul li a,
#global-nav ul li span {
    color: #efefef;
}
#global-nav ul li a:hover {
    border-bottom: 2px #efefef solid;
}
#nav-toggle span {
    background: #fff;
}

/*************************
*** h1 - h4 in article ***
*************************/
article.archive h1 {
  font-size: 150%;
  padding: 3px 0 5px 5px;
}
article h2 {
  margin: 20px 0 20px;
  padding: 5px 0 5px 12px;
}
article h2:before { content: ""; }
article h2:after  { content: ""; }

/***********
*** Main ***
***********/
#main div.pre-next {
    position: relative;
    width: 65%;
    margin: 10px auto 0;
}
#main div.pre-next p {
    text-decoration: underline;
    margin: 0 20px 0;
    position: absolute;
}
#main div.pre-next p:nth-child(odd)  { left: 0;  }
#main div.pre-next p:nth-child(even) { right: 0; }

/**************
*** Content ***
**************/
#content {
  float: none;
  width: 65%;
  margin: 10px auto 0;
}
#content article {
    display: table;
    margin-bottom: 3rem;
    overflow: hidden;
    width: 100%;
}
#content article.single {
    margin-top: 30px;
}
#content article .entry_meta {
  color: #1B7D1B;
  margin-left: 0;
}
.admin {
  font-size: 12px;
}
.circle {
    font-family: 'Source Code Pro', monospace;
    border:1px solid #1B7D1B;
    border-radius: 50%;
    margin: 10px 10px 10px 0;
    padding: 10px;
    text-align: center;
    height: 50px;
    width: 50px;
}
#content article .entry_info {
    display: table-cell;
    vertical-align: middle;
    width: inherit;
}
#content article .entry_info > * {
    margin: 0 10px 0 5px;
}
#content article p.read_more {
    border: 1px solid #1B7D1B;
    text-align: center;
}
#content article p.read_more a {
    display: block;
    font-weight: bold;
    padding: 8px 0;
    letter-spacing: .2em;
}
#content article p.tags {
    /*margin: 0 0 0 10px;*/
    margin: 0 10px 0 5px;
}
#content article p.tags a {
    border-color: #1B7D1B;
    border-radius: 7px;
    color: #1B7D1B;
}
#content article p.read_more a:hover,
#content article p.tags a:hover {
    background: #1B7D1B;
    color: #fff;
}
@media screen and (max-width: 655px) {
    #top-head {
        height: 60px;
    }
    #content article {
        margin-bottom: 2rem;
    }

}

