@charset "UTF-8";
/* Site base */
body {
  font: 15px / 1.7 "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", Meiryo, "メイリオ", "ＭＳ Ｐゴシック", Helvetica,
    Sans-Serif, serif;
  letter-spacing: 0.5px;
  background: #fff;
  color: #666;
  word-break: break-all;
  -webkit-text-size-adjust: 100%;
}
a {
  text-decoration: none;
}
a:hover,
a:link,
a:visited {
  color: #666;
}
hr {
  margin: 15px 15px 30px;
  color: #ccc;
}
strong,
b {
  font-weight: bold !important;
}
textarea {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
:root {
  --size-content: 940px;
  --size-sidebar: 280px;
  --size-single: 640px;
  --thumbnail-height: 200px;
  --size-gap: 12px;
}

/* Layout */
main {
  flex: 1;
  display: grid;
  grid-template-columns: var(--size-sidebar) minmax(auto, var(--size-content));
  justify-content: center;
  column-gap: var(--size-gap);
  margin: var(--size-gap) 0 0;
  padding: 0 var(--size-gap);
}
#side {
  max-width: var(--size-sidebar);
  font-family: "Source Code Pro", monospace;
}

/* Side */
#side .side_title {
  border-top: 3px solid #777;
  border-bottom: 1px solid #777;
  padding: 7px 10px 7px 3px;
  margin: 5px 0px 7px 0px;
}
#side .side_title p {
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1rem;
  padding: 5px;
}
#side time {
  line-height: 1rem;
}
#side li {
  margin: 15px 0;
}
#side li a {
  display: grid;
  grid-template-columns: 90px 1fr;
  grid-template-rows: 20px 1fr;
  column-gap: 15px;
  font-size: 0.8rem;
}
#side li .thumbnail {
  grid-column: 1;
  grid-row: 1 / 3;
  align-self: center;
  padding: 2px;
  border: 1px solid #ccc;
}
#side li p.post_title {
  font-weight: bold;
  line-height: 1.1rem;
}
#side p.cloud {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px 7px;
}
#side p.cloud a {
  border: 1px #777 solid;
  border-radius: 10px;
  color: #777;
  padding: 3px 10px;
}
#side p.cloud a:hover {
  background: #3d4349;
  color: white;
}

/* Content */
#content .panels {
  overflow: hidden;
  margin-bottom: 10px;
}
#content .panel_title {
  background-color: #000;
  border: 1px solid #ccc;
  color: #fff;
  padding: 8px 12px;
}
#content .thumbnail img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Latest entry */
#content .latest {
  display: flex;
  column-gap: 15px;
  margin-bottom: 30px;
}
#content .latest .entry_meta {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
#content .latest .entry_meta .postdate {
  font-family: "Source Code Pro", monospace;
}
#content .latest .entry_meta h1 {
  font-size: 1.4rem;
  line-height: 2rem;
}
#content .latest .entry_meta .description {
  color: #999;
  font-size: 1.1rem;
  line-height: 1.8;
}

/* Flex entry list */
#content .entries.flex {
  display: flex;
  overflow: scroll hidden;
  grid-gap: var(--size-gap);
  margin-bottom: 20px;
}
#content .entries.flex article {
  flex: 0 0 auto;
  display: grid;
  grid-template-rows: var(--thumbnail-height) 1fr;
  row-gap: 5px;
  max-width: calc(calc(var(--size-content) - 24px) / 3);
}

/* Grid entry list */
#content .entries.grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(calc(calc(var(--size-content) - 24px) / 3), 1fr)
  );
  justify-items: center;
  column-gap: var(--size-gap);
  row-gap: 25px;
  margin-bottom: 20px;
}
#content .entries.grid article {
  display: grid;
  grid-template-rows: var(--thumbnail-height) 1fr;
  row-gap: 5px;
}

/* Entry list */
#content .entries .entry_meta {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}
#content .entries .entry_meta .postdate {
  font-family: "Source Code Pro", monospace;
}
#content .entries .entry_meta h1 {
  font-size: 1.2rem;
  line-height: 2rem;
}
#content .entries .entry_meta .description {
  color: #999;
  font-size: 0.9rem;
  line-height: 1.8;
}

/* h tags */
h1 {
  font-size: 1.85rem;
  line-height: 2.5rem;
  font-weight: bold;
}
h2 {
  position: relative;
  font-size: 1.65rem;
  font-weight: bolder;
  line-height: 2.25rem;
  margin: 54px 0 25px;
  padding: 5px 0 5px 12px;
  border-bottom: 2px solid #b92a2c;
}
h3 {
  position: relative;
  font-size: 1.35rem;
  font-weight: bolder;
  line-height: 2.25rem;
  margin: 36px 0 25px;
  padding: 0px 0px 5px 12px;
  border-bottom: 1px solid #999;
}
h3:before {
  content: "";
}
h4 {
  position: relative;
  font-size: 1.15rem;
  font-weight: bolder;
  line-height: 2.25rem;
  margin: 25px 0 25px;
  border-bottom: 1px solid #999;
}
h4.about {
  padding-left: 32px;
}
h4:before {
  font-family: FontAwesome;
  position: absolute;
  top: 0.05rem;
  left: 0.3rem;
}
h4.twitter:before {
  content: "\f081";
}
h4.computer:before {
  content: "\f109";
}
h4.camera:before {
  content: "\f030";
}
h4.television:before {
  content: "\f26c";
}
h4.music:before {
  content: "\f001";
}
h4.book:before {
  content: "\f02d";
}
h4.movie:before {
  content: "\f008";
}
h4.game:before {
  content: "\f11b";
}

/* Page Navi */
.page-navi {
  margin: 1rem auto;
  text-align: center;
  font-size: 0.85rem;
}
.page-navi .current {
  color: #fff;
  background: #808080;
  font-weight: bold;
}
.page-navi .next,
.page-navi .prev {
  border: 0 none;
  background: transparent;
  text-decoration: underline;
  font-weight: bold;
}
a.page-numbers,
.page-navi .current {
  padding: 5px 8px;
  border: solid 1px #ccc;
  line-height: 2.7rem;
}
a.page-numbers:hover {
  color: #fff;
  background: #808080;
}

/* Other common */
.tdu {
  text-decoration: underline !important;
}

/* for Tablet */
@media screen and (max-width: 834px) {
  main {
    display: block;
    margin: 0;
  }
  #side {
    display: none;
  }
  #content {
    width: 100%;
  }
}
/* for SP */
@media screen and (max-width: 600px) {
  #content .latest {
    flex-direction: column;
    margin-bottom: 20px;
  }
  #content .latest .entry_meta {
    row-gap: 3px;
  }
  /* h tags */
  h1 {
    font-size: 1.65rem;
    line-height: 2.25rem;
  }
  h2 {
    font-size: 1.45rem;
    line-height: 2rem;
  }
  h3 {
    font-size: 1.25rem;
    line-height: 2rem;
  }
}
