/*************
*** Common ***
*************/
#wrapper {
  padding-top: 125px;
}

/*************
*** Header ***
*************/
#top-head {
    background: #3D4349;
    border-bottom: 4px #b9b9b9 solid;
    height: 125px;
}
@media screen and (max-width: 655px) {
    #top-head {
        height: 105px;
    }
}
#top-head .logo a {
  color: #efefef;
}
#top-head p {
    color: #efefef;
    margin: 0 20px 15px;
    padding-top: 15px;
}
#global-nav ul {
    bottom: -35px;
}
#global-nav ul li a,
#global-nav ul li span {
    color: #efefef;
}
#global-nav ul li a:hover {
    border-bottom: 2px #efefef solid;
}
/* Fixed */
#top-head.fixed {
    background: #3D4349;
}

/*************************
*** h1 - h4 in article ***
*************************/
article h1 {
  border-bottom: 2px #3D4349 solid;
  font-size: 150%;
  padding: 3px 0 5px 5px;
}
article h2 {
  padding: 5px 0 5px 12px;
}
article h2:before { content: ""; }
article h2:after  { content: ""; }

/**************
*** Content ***
**************/
#content {
  float: left;
  width: 71%;
}
#content article .entry_meta {
  color: #777;
}

/*******************
*** Single Entry ***
*******************/
#content article.single .entry > p:first-child {
  display: none;
}

/***********
*** Side ***
***********/
#side {
  float: right;
  width: 27%;
  max-width: 324px;
}
#sidefixed {
  max-width: 324px;
}
#side .r_frameTech {
  border-top: 3px solid #777;
  border-bottom: 1px solid #777;
  padding: 7px 10px 7px 3px;
  margin: 5px 0px 7px 0px;
}
#side .r_frameTech p.title {
  font-family: 'Source Code Pro', monospace;
  font-size: 110%;
  font-weight: bold;
  letter-spacing: .1em;
  line-height: 1;
  padding: 5px 5px 5px 5px;
}
/****************
*** Tag Cloud ***
****************/
#side p.tags {
  font-size: 80%;
  font-family: 'Source Code Pro', monospace;
  margin: 7px 10px;
}
#side p.tags a {
  border: 1px #777 solid;
  border-radius: 10px;
  color: #777;
  padding: 3px 10px;
  margin: 3px 5px 3px 0;
  display: inline-block;
}
#side p.tags a:hover{
  background: #3D4349;
  color: white;
}