/*************
*** Header ***
*************/
#top-head {
    background: #3D4349;
    border-bottom: 4px #b9b9b9 solid;
}
#top-head .logo a {
  color: #efefef;
}
#global-nav ul li a,
#global-nav ul li span {
    color: #efefef;
}
#global-nav ul li a:hover {
    border-bottom: 2px #efefef solid;
}
/* Fixed */
#top-head.fixed {
    background: #3D4349;
}

/*************************
*** h1 - h4 in article ***
*************************/
article h1 {
  border-bottom: 2px #3D4349 solid;
  font-size: 150%;
  padding: 3px 0 5px 5px;
}
article h2 {
  padding: 5px 0 5px 12px;
}
article h2:before { content: ""; }
article h2:after  { content: ""; }

/**************
*** Content ***
**************/
#content article .entry_meta {
  color: #777;
}

/*******************
*** Single Entry ***
*******************/
#content article.single .entry > p:first-child {
  display: none;
}

/****************
*** Tag Cloud ***
****************/
#side p.tags {
  font-size: 80%;
  font-family: 'Source Code Pro', monospace;
  margin: 7px 10px;
}
#side p.tags a {
  border: 1px #777 solid;
  border-radius: 10px;
  color: #777;
  padding: 3px 10px;
  margin: 3px 5px 3px 0;
  display: inline-block;
}
#side p.tags a:hover{
  background: #3D4349;
  color: white;
}