@import url("css/default.css");
@import url("css/font-awesome.min.css");

body {
  font: 14px / 1.7 'Noto Sans Japanese',"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Meiryo,"メイリオ","ＭＳ Ｐゴシック",Helvetica,Sans-Serif,serif;
  letter-spacing: 0.5px;
  background: #FFF;
  color: #666;
  word-break: break-all;
  -webkit-text-size-adjust: 100%;
}
a { text-decoration: none; }
a:hover, a:link, a:visited { color: #666; }
hr        { margin: 15px 15px 20px; color: #CCC; }
strong, b { font-weight: bold !important; }
textarea  { width: 100%; }
img       { max-width: 100%; height: auto; }

#wrapper {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 5px;
}
